.DS_Store (macOS system files)
.idea/ (IntelliJ IDEA project files)
node_modules/ (Node.js packages)
*.pyc (compiled Python files)
pycache/ (Python cache directory)
.env (environment variables file)
.vscode/ (Visual Studio Code project files)
.sass-cache/ (Sass cache directory)
vendor/ (Composer dependencies)
logs/ (log files)
*.log (log files with specific extensions)
.git/ (Git repository directory - this should never be committed to version control)
.svn/ (Subversion repository directory - this should never be committed to version control)
